video{
    position: absolute;
    top:0px;
    left: 10px;
}
#videoInto_div{
    width: 292px;
    height: 440px;
    /*border-left: 1px solid white;*/
    background-image: url("../../../img/QQ20200416164328.png");
    background-size: 100% 100%;
    /*background-color: lightyellow;*/
    position: absolute;
    left: 810px;
    padding: 5px;
    color:white;
}

#myVideo_p{
    font-size: 20px;
    padding: 10px 0px;
}
.myVideo_p1{
    font-size: 16px;
    padding: 5px 0px;
}

#commentDiv{
    width: 1000px;
    height: 1100px;
    /*border: 1px solid black;*/
    position: absolute;
    top: 500px;
    left: 10px;
    padding: 10px;
    background-color: lightyellow;
    border-color: wheat;
}
#commentBut{
    float: right;
    margin-top: 10px;

}
#commentDiv2{
    width: 950px;
    height: 700px;
    border: 1px solid lightgray;
    position: absolute;
    top: 310px;
    padding: 20px;
}

#commentDiv1_p{
    font-size: 20px;
}

.infoDiv{
    border: 1px solid lightgray;
    margin-top:20px;
    padding: 10px;

}
.infoDiv p{
    margin-top: 10px;
}
.nowName{
    color: #eb7350;

}
